.goodsbody {
  background: #F5F5F5;
  margin-top: 0.213rem;
  padding:0.213rem 0 0.267rem 5px;
}
.goodsbody img {
  width: 2.88rem;
  height: 2.88rem;
}
.imgdetail {
  padding: 0 0.267rem;
  overflow: hidden;
}
.title {
  height: 0.853rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  font:0.347rem/0.427rem PingFangSC-Regular;
  color: #323232;
}
.cust {
  background: #323232;
  font:0.267rem/0.24rem PingFangSC-Regular;
  color: #F5AD03;
  padding: 0.053rem 0.133rem;
  margin: 0.16rem 0.133rem 0 0;
  text-align: center;
}
.choose {
  margin: 0.16rem 0 0.24rem 0;
  height: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  font: 0.32rem/0.4rem PingFangSC-Regular;
  color: #7D7D7D;
}
.advance,.count {
  font:0.347rem/0.347rem PingFangSC-Regular;
  color: #000000;
}
.del {
  margin-top:0.16rem;
  font:0.32rem/0.32rem PingFangSC-Regular;
  color: #B1B1B1;
}
.refund {
  margin-top:0.16rem;
  font:0.293rem/0.293rem PingFangSC-Regular;
  color: #F5AD03;
}
.dele {
  text-decoration: line-through;
}
.bottom {
  margin-top: 0.267rem;
  border-top:1px solid #DCDDDD;
}
.tele,.remind {
  width: 2.0rem;
  height: 0.747rem;
  margin: 0.4rem 0 0 0.4rem;
  border: 1px solid #7D7D7D;
  font:0.373rem/0.747rem PingFangSC-Regular;
  color: #323232;
  text-align: center;
}
.remind {
  color: #F5AD03;
  border: 1px solid #F5AD03;
}
.less {
  margin-top: 0.213rem;
}
.dele {
  text-decoration: line-through;
}
